body {
    font: 10px;
    box-sizing: border-box;
}

/* Order List */
ol {
    float: left;
    list-style: none;
    text-align: right;
    padding: 0;
    margin: -8px 5px 0 0;
    color: #666;
}

li {
    height: 30px;
}

span.hour {
    font-weight: bold;
}

/* Event Widget */
.container-event {
    position: relative;
    float: left;
    height: 720px;
    width: 600px;
    padding: 0 10px;
    margin: auto;
    background-color: #ECECEC;
}

.event-text {
    color: #28a745;
    font-weight: bold;
    display: block;
}

.event {
    border: 1px solid #D5D5D5;
    position: absolute;
    background-color: white;
    border-left: 4px solid #28a745;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    left: 0;
}

.event:nth-child(2) {
    top: 500px;
    width: 50%;
    left: 0;
}

.event:nth-child(3) {
    top: 530px;
    width: 50%;
    left: 50%;
}